@import '../common/_fabric';
@import '~office-ui-fabric-react/src/common/common';
:global
.grid-link {
    color: $ms-color-black;
    &.ms-Link:not(.is-disabled):focus,
    &.ms-Link:not(.is-disabled):hover {
        color: $ms-color-themePrimary;
        text-decoration: underline;
    }
}