@import '../common/_mixins.scss';
@import '../common/_fabric';
$validationColor: #fde7e9;

.validationCallout {
    .ms-Callout-beak,
    .ms-Callout-main {
        background-color: $validationColor;
    }
    .validationCalloutContent {
        padding: 10px;
        @include flex-parent(row);
        align-items: center;
        .ms-Icon {
            @include ms-fontSize-m;
            color: $ms-color-red;
            @include flex-child-sizeFixed(auto);
        }
        .validationMessage {
            @include ms-font-s;
            @include flex-child-sizeFlexible(auto);
            @include ms-margin-left(10px);
        }
    }
}