@import './_mixins.scss';
@import '../common/_fabric';
@import '~office-ui-fabric-react/src/common/common';

:global .grid-width-container {
    width: 100%;

    &.virtualized-self {
        overflow: auto;
        height: 100%;
    }
}

:global .grid-container .grid-body .grid-row .grid-cell.grid-empty {
    @include ms-font-xl;
    color: $ms-color-neutralPrimary;
    text-align: center;
}

:global .grid-container .grid-body .grid-row .grid-cell,
:global .grid-container .grid-header .grid-header-row, 
:global .grid-column-header-cell {
    &.align-left {
        @include ms-text-align(left);
        justify-content: flex-start;
    }

    &.align-center {
        text-align: center;
        justify-content: center;
    }

    &.align-right {
        @include ms-text-align(right);
        justify-content: flex-end;
    }
}